.myBtn {
	background-image: linear-gradient(
		to right,
		#314755 0%,
		#0f1d1f 51%,
		#314755 100%
	);
	margin: 10px auto;
	
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #fff;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 20px;
    font-weight: 500;
	cursor: pointer;
	
	&:hover {
		background-position: 97% center;
		text-decoration: none;
	}
}
